* {
    padding: 0;
    margin: 0;
    color: black;
}

body {
    font-family: 'Syne', sans-serif;
    
}

h2 {
    font-size: 2.5rem;
}

p {
    line-height: 1.6;
}

li a {
    text-decoration: none;
    font-weight: 700;
    font-size: .95rem;
}

a .fa-brands {
    font-size: 15px;
}

.style-btn {
    font-weight: 700;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    background-color: #87A3BF;
    font-family: inherit;
    width: max-content;
}


/* ----- HEADER ------ */

header {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.4rem;
    font-weight: 600;
}

.nav-links ul,
.social-links {
    display: flex;
    justify-content: center;
    gap: .75rem;
    list-style: none;
}



.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.social-links .fa-brands {
    font-size: 1.25rem;
}


/* ----- HERO ------ */
.hero {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url('./images/fill-img.jpeg');
    background-size: cover;
    padding: 4rem;

}

.hero-txt {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    text-align: center;
    
}

.hero-txt h1,
.hero-txt p,
.hero-txt button {
    color: #f9f9f9;
}

.hero-txt h1 {
    font-size: 3.5rem;
}

.hero-txt button {
    margin: 0 auto;
}


/* ----- INTRO ------ */

.intro-content {
    width: 90%;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
}

.intro-col {
    width: 40%;
}

.intro-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    flex: 1;
    padding: 2rem 0;
}

.intro-img {
    margin: auto;
}

.intro-img img {
    width: 100%;
    height: 100%;
}

/* ----- SERVICES ------ */
.services {
    background: linear-gradient(#fff, #e5e5e5, #87A3BF);
    padding: 2rem;
}

.services-content {
    width: 90%;
    margin: 1rem auto;
}
.services-content h2 {
    margin-bottom: 3rem;
}
.services-row {
    display: flex;
    justify-content: space-between;
}
.services-col {
    width: 30%;
}
.service-img {
    height: 50%;
    margin-bottom: 1rem;
}
.service-img img {
    width: 100%;
    height: 90%;
}
.services-col h3 {
    margin-bottom: 1rem;
}

/* ----- REVIEW ------ */
.review {
    background: linear-gradient(#87A3BF, #e5e5e5, #fff);
    padding: 2rem;
}

.review-content {
    width: 45%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.review-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
}

.review-img {
    width: 70px;
    height: 70px;
}

.review-img img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    margin: 0 auto;
}

/* ----- SUBSCRIBE ------ */
.subscribe-content {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
}
.subscribe-col {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.subscribe-img img {
    width: 100%;
    height: 85%;
}

.subscribe-txt {
    width: 50%;
}
form {
    display: flex;
    gap: .75rem; 
}
form #email {
    width: 70%;
    border: 1px solid #e5e5e5;
    padding: 1rem 1.75rem;
    font-family: inherit;
    font-size: 1rem;
}
form .style-btn {
    font-size: 1rem;
}


/* ----- FOOTER ------ */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e5e5;
    padding-top: 2rem;
}

.footer-content,
.footer-links {
    width: 90%;
    margin: 0 auto;
    display: flex;
    
}

.footer-txt {
    width: 45%;
}

.footer-txt h2 {
    margin-bottom: 2rem;
}

.site-links {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.site-col {
    display: flex;
    flex-direction: column;
}
.site-col h4 {
    margin-bottom: .5rem;
}
.site-col a {
    margin-bottom: .4rem;
    text-decoration: none;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin: 3.5rem 0 2rem;
}
